.navbar {
    background-color: var(--bs-primary-color) !important;

    & .text {
        color: var(--bs-secondary-color) !important;
    }

    & .navbar-logo {
        display: flex;
        align-items: center; /* vertical centering */
        gap: 0.5rem; /* space between logo and text */
        cursor: pointer; /* optional */
    }

    & .Nav{
        display: flex;
        align-items: center; /* vertical centering */
        gap: 0.5rem; /* space between logo and text */
        cursor: pointer; /* optional */
    }
}