.calendar-container{
    justify-content: center;
    align-items: center;

    background-color: var(--bs-primary-hover);
    overflow: scroll;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}
