[data-bs-theme='light'] {
  --bs-primary-color: rgb(98, 131, 191);
  --bs-secondary-color: rgb(0, 0, 0);
  --bs-accent-color: rgb(255, 122, 48);

  --bs-primary-hover: rgba(47, 47, 47, 0.3); // 30% of primary
  --bs-secondary-hover: rgba(0, 0, 0, 0.3);
  --bs-accent-hover: rgba(128, 8, 0, 0.3); // 30% of accent

  --app-bg: rgb(233, 227, 223);
}

[data-bs-theme='dark'] {
  --bs-primary-color: rgb(124, 137, 139);
  --bs-secondary-color: rgb(161, 124, 21);
  --bs-accent-color: rgb(142,10,1);

  --bs-primary-hover: rgba(124, 137, 139, 0.3);
  --bs-secondary-hover: rgba(118, 93, 5, 0.3);
  --bs-accent-hover: rgba(142, 10, 1, 0.3);

  --app-bg: rgb(47, 47, 47);
}

.btn-primary {
  background-color: var(--bs-accent-hover) !important;
  border-color: var(--bs-accent-color)!important;
}

.btn-primary:hover {
  background-color: var(--bs-accent-hover)!important;
  border-color: var(--bs-secondary-color)!important;
}

.btn-primary:active {
  background-color: var(--bs-accent-color) !important;
  border-color: var(--bs-accent-color) !important;
}

.btn-secondary:hover {
  background-color: var(--bs-secondary-hover) !important;
  border-color: var(--bs-secondary-color) !important;
}

.btn-secondary:active {
  background-color: var(--bs-secondary-color) !important;
  border-color: var(--bs-secondary-color) !important;
}

.nav-tabs .nav-link:not(.active) {
  color: var(--bs-primary-color) !important;
}

.accordion-button:not(.collapsed){
  background-color: var(--bs-primary-hover) !important;
  color: var(--bs-secondary-color) !important;
}


body {
  background-color: var(--app-bg);

  /* Text layout */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}


