.calendar-container{
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.4);
    overflow: scroll;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}
