.month-text{
    text-align: center;
    font-size: clamp(0.8rem, 1.5vw, 20rem);
}

.selector-button{
    color: #afb8b8 !important;
    font-size: clamp(0.8rem, 1.5vw, 20rem);
}

.month-view {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr); /* as many weeks as needed */
    gap: 0.25rem;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

.week-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* always 7 columns */
    gap: 0.25rem;
}

.day-button {
    width: 100%;
    aspect-ratio: 1 / 1;         /* keeps square */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.6rem, 3vw, 1.5rem); /* responsive text */
    padding: 0.2rem;
    box-sizing: border-box;
}

.weekend-button{
    color: red !important;
}

.weekday-button{
    color: #afb8b8 !important;
}